.first-allowed {
  background-color: rgb(196, 224, 228);
}
.second-allowed {
  background-color: rgb(202, 250, 250);
}
.third-allowed {
  background-color: aliceblue;
}
.details {
  background-color: rgb(173, 213, 240)
}

.table-bordered td, .table-bordered th{
  border-color: transparent transparent black transparent;
}

.body-background {
  background-color:#f3f4f6;
  padding:30px;
  border-radius: .25rem;
  overflow: hidden;
}

.bradcrumps-style {
  background-color: #cad5df !important;
  color: black !important;
}

.send-button {
  float: right;
  background-color:#cad5df;
}

.modify-button {
  background-color:#cad5df;
}
