<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Home</li>
    </ol>
  </nav>

<div *ngIf="!isRequesting">
    <table class="table table-bordered">
        <colgroup>
          <col width="20%" />
          <col width="30%" />
          <col width="10%" />
          <col width="40%" />
        </colgroup>
<tbody>
<tr>
  <td>Client name</td>
<td>{{client.firstName}}</td>
<td><button class="btn btn-default details" (click)="showHideFirstNameInput()">Modify</button></td>
  <td><div *ngIf="isFirstNameVisible">
    <input type="text" class="form-control" [(ngModel)]="client.firstName">
  </div></td>
</tr>

<tr>
    <td>Client last name</td>
  <td>{{client.lastName}}</td>
  <td><button class="btn btn-default details" (click)="showHideLastNameInput()">Modify</button></td>
    <td><div *ngIf="isLastNameVisible">
      <input type="text" class="form-control" [(ngModel)]="client.lastName">
    </div></td>
  </tr>

  <tr>
      <td>Birthday</td>
    <td>

      {{client.birthday | date:  ('HOME.dateformat' | translate)}}</td>
    <td><button class="btn btn-default details" (click)="showHideBirthdayInput()">Modify</button></td>
      <td><div *ngIf="isBirthdayVisible">
        <input type="text" class="form-control" [(ngModel)]="client.birthday">
      </div></td>
    </tr>

    <tr>
        <td>Passport number</td>
      <td>{{client.passportNumber}}</td>
      <td><button class="btn btn-default details" (click)="showHidePassportNumberInput()">Modify</button></td>
        <td><div *ngIf="isPassportNumberVisible">
          <input type="text" class="form-control" [(ngModel)]="client.passportNumber">
        </div></td>
      </tr>

      <tr>
          <td>Phone</td>
        <td>{{client.phone}}</td>
        <td><button class="btn btn-default details" (click)="showHidePhoneInput()">Modify</button></td>
          <td><div *ngIf="isPhoneVisible">
            <input type="text" class="form-control" [(ngModel)]="client.phone">
          </div></td>
        </tr>

        <tr>
            <td>Email</td>
          <td>{{client.email}}</td>
          <td><button class="btn btn-default details" (click)="showHideEmailInput()">Modify</button></td>
            <td><div *ngIf="isEmailVisible">
              <input type="text" class="form-control" [(ngModel)]="client.email">
            </div></td>
          </tr>
</tbody>
</table>
<button class="btn btn-default details" (click)="updateClient(client)">Save</button>

</div>
