<div *ngIf="!isRequesting">
  <div *ngIf="!isFoodNameRequesting">

<table class="table table-bordered">
    <tbody>
      <tr>
        <td>First Name:</td>

        <td>{{customer.firstName}}</td>
        <td>
            <input type="text" [(ngModel)]="firstName">
            <button class="btn btn-default" (click)="changeFirstName(customer.id, firstName)">Change</button>
         </td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>{{customer.lastName}}</td>
        <td>
            <input type="text" [(ngModel)]="lastName">
            <button class="btn btn-default" (click)="changeLastName(customer.id, lastName)">Change</button>
         </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{customer.phone}}</td>
        <td>
            <input type="number" [(ngModel)]="phoneNumber">
            <button class="btn btn-default" (click)="changePhoneNumber(customer.id, phoneNumber)">Change</button>
         </td>
      </tr>
      <tr>
        <td>Balance</td>
         <td>{{customer.balance}}</td>
          <td>
            <input type="number" [(ngModel)]="moneySum">
            <button class="btn btn-default" (click)="changeBalance(customer.id, moneySum)">Increase</button>
         </td>
      </tr>
      <tr>
        <td>Caloric goal</td>
          <td>{{customer.caloricGoal}}</td>
          <td>
              <input type="number" [(ngModel)]="caloric">
              <button class="btn btn-default" (click)="changeCaloricGoal(customer.id, caloric)">Change</button>
            </td>
        </tr>
        <tr>
            <td>Food style</td>
              <td> {{foodStyle.foodStyleName}}</td>
                <td><button class="btn btn-default" (click)="getFoodStyle()">View details</button>
              </td>
          </tr>
      <tr>
        <td>Special products</td>
          <td>
            <button class="btn btn-default" (click)="getSpecialProducts()">View</button>
          </td>
        </tr>

      <tr>
          <td>Cart</td>
            <td>
              <button class="btn btn-default" (click)="cart()">View</button>
            </td>
        </tr>
        <tr>
            <td>Addresses</td>
              <td>
                <button class="btn btn-default" (click)="addresses()">View</button>
              </td>
          </tr>
          <tr>
              <td>Favourite dishes</td>
                <td>
                  <button class="btn btn-default" (click)="favouriteDishes()">View</button>
                </td>
            </tr>
            <tr>
                <td>Food orders</td>
                  <td>
                    <button class="btn btn-default" (click)="favouriteDish()">View</button>
                  </td>
              </tr>
    </tbody>
</table>
  <button class="btn btn-default" (click)="getFoodStyleById(customer.foodStyleId)">View</button>
</div>
</div>
