<div class="form-group">
    <label>Email</label>
    <input class="form-control" type="text" name="email" [(ngModel)]="registrations.email"  #email="ngModel" required />
    <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
      Input your email!
    </div>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input class="form-control" type="text" name="password" [(ngModel)]="registrations.password" #password="ngModel" required />
    <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
      Input your password!
    </div>
  </div>

  <div class="form-group">
      <label>firstName</label>
      <input class="form-control" type="text" name="firstName" [(ngModel)]="registrations.firstName" #firstName="ngModel" required />
      <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">
        Input your firstName!
      </div>
    </div>

    <div class="form-group">
        <label>lastName</label>
        <input class="form-control" type="text" name="lastName" [(ngModel)]="registrations.lastName" #lastName="ngModel" required />
        <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">
          Input your lastName!
        </div>
      </div>

      <div class="form-group">
          <label>phone</label>
          <input class="form-control" type="number" name="phone" [(ngModel)]="registrations.phone" #phone="ngModel" required />
          <div [hidden]="phone.valid || phone.untouched" class="alert alert-danger">
            Input your phone!
          </div>
        </div>

        <div class="form-group">
            <label>role</label>
            <input class="form-control" type="text" name="role" [(ngModel)]="registrations.role" #role="ngModel" required />
            <div [hidden]="role.valid || role.untouched" class="alert alert-danger">
              Input your role!
            </div>
          </div>

  <div class="form-group">
    <button [disabled]="registrations.email || registrations.password || registrations.firstName
    || registrations.lastName || registrations.phone || registrations.role"
        class="btn btn-default" (click)="registerUser()">Send</button>
  </div>
