<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Restaurant</li>
  </ol>
</nav>

<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Restaurant name</td>
            <td>{{restaurant.restaurantName}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{restaurant.country}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{restaurant.city}}</td>
        </tr>
        <tr>
            <td>Street</td>
            <td>{{restaurant.streete}}</td>
        </tr>
        <tr>
            <td>House number</td>
            <td>{{restaurant.houseNamber}}</td>
        </tr>
    </tbody>
</table>


<h4>Menu</h4>
<div id="parent">
  <table id="narrow" class="table table-bordered">
      <thead>
        <tr>
          <td>Dish</td>
          <td>Description</td>
         </tr>
      </thead>
        <tr *ngFor="let dish of dishes" >
              <td><h4>{{dish.dishName}}</h4></td>
              <td><h4>{{dish.dishDescription}}</h4></td>
        </tr>
  </table>
  <table id="narrow" class="table table-bordered">
      <thead>
        <tr>
          <td>Cost</td>
          <td>Count</td>
          <td>Temperature</td>
          <td></td>
        </tr>
      </thead>
        <tr *ngFor="let menu of menues">
              <td>{{menu.cost}}</td>
              <td><input type="number" [(ngModel)]="cartPart.dishCount" required></td>
              <td><input type="number" [(ngModel)]="cartPart.dishTemperature" required></td>
              <td>
                  <button id="addButton" class="btn btn-default" (click)="createCartPart(menu.id)">Add</button>
              </td>
        </tr>
  </table>
</div>


