<button type="button" (click)="createBuilding()" class="btn btn-default">Create new building</button>
<div *ngIf="isUsed">
    <div class="form-group">
       <label>Country</label>
       <input class="form-control" type="text" name="country" [(ngModel)]="building.country">
    </div>
    <div class="form-group">
       <label>City</label>
       <input class="form-control" type="text" name="city" [(ngModel)]="building.city">
    </div>
    <div class="form-group">
        <label>Street</label>
        <input class="form-control" type="text" name="street" [(ngModel)]="building.street">
     </div>
     <div class="form-group">
        <label>House</label>
        <input class="form-control" type="text" name="house" [(ngModel)]="building.house">
     </div>
     <div class="form-group">
        <label>Flat</label>
        <input class="form-control" type="number" name="flat" [(ngModel)]="building.flat">
     </div>
     <li class="nav-item mr-2">
        <label>Landlord</label>
        <select #langSelect class="form-control"(change)="building.landlordId=langSelect.value">
          <option *ngFor="let land of landlordsList" [value]="land.id" [selected]="building.landlordId">{{ land.firstName + ' ' + land.lastName }}</option>
        </select>
    </li>

    <div class="form-group">
        <label>X</label>
        <input class="form-control" type="number" name="X" [(ngModel)]="building.x">
     </div>     <div class="form-group">
        <label>Y</label>
        <input class="form-control" type="number" name="Y" [(ngModel)]="building.y">
     </div>

    <div *ngIf="isCreate">
        <button class="btn btn-default details" (click)="onCreate(building)">Create</button>
        </div>
        <div *ngIf="isUpdate">
            <button class="btn btn-default details" (click)="onUpdate(building)">Update</button>
            </div>
        </div>
    <table class="table table-bordered">
        <thead>
           <tr>
              <td>Country</td>
              <td>City</td>
              <td>Street</td>
              <td>House</td>
              <td>Flat</td>
              <td>Landlord</td>
              <td>x</td>
              <td>y</td>
              <td>Update</td>
              <td>Delete</td>
           </tr>

        </thead>
        <tbody>
           <tr *ngFor="let cl of buildingsList">
              <td>{{cl.country}}</td>
              <td>{{cl.city}}</td>
              <td>{{cl.street}}</td>
              <td>{{cl.house}}</td>
              <td>{{cl.flat}}</td>
              <td>{{cl.landlordId}}</td>
              <td>{{cl.x}}</td>
              <td>{{cl.y}}</td>
                  <td> <button type="button" (click)="updateBuilding(cl)" class="btn btn-default">Update</button></td>
              <td> <button type="button" (click)="deleteBuilding(cl.id)" class="btn btn-default">Delete</button></td>
           </tr>
        </tbody>
     </table>
