<nav aria-label="breadcrumb"  style="margin-top:10px">
  <ol class="breadcrumb bradcrumps-style">
    <li class="breadcrumb-item active bradcrumps-style" aria-current="page">{{ 'LogIn' | translate }}</li>
  </ol>
</nav>
<div class="body-background">
  <div class="form-background">
    <div class="form-group">
      <label>{{ 'User name' | translate }}</label>
      <input class="form-control" type="text" name="userName" [(ngModel)]="credentials.userName"  #userName="ngModel" required />
      <div [hidden]="userName.valid || userName.untouched" class="alert alert-danger">
        {{ 'LogInVals.InputYourName' | translate }}
      </div>
    </div>
    <div class="form-group">
      <label>{{ 'Password' | translate }}</label>
      <input class="form-control" type="password" name="password" secure="true" minlength="6" maxlength="12" [(ngModel)]="credentials.password" #password="ngModel" required />
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        {{ 'LogInVals.InputYourPassword' | translate }}
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="userName.invalid || password.invalid"
        class="btn btn-default form-button" (click)="login()">{{ 'Send' | translate }}</button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        {{'smtWentWrong' | translate}}
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" style="background-color: #cad5df;" (click)="modal.close('Ok click')">Ok</button>
  </div>
</ng-template>

<div id="myDiv" style="display:none" (click)="open()">Launch demo modal</div>
