.panl {
    background: lightslategrey;
    width: 400px;
    padding: 30px;
    border: 3px solid lightslategrey;
    color: black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    font-size: 300%;
  }
img.center {
  display:block;
}


#bg {
  position: fixed;

 left:0;
  /* Preserve aspet ratio */
  width: 100%;
  min-height: 50%;
}
