<nav aria-label="breadcrumb" style="margin-top: 10px;">
  <ol class="breadcrumb bradcrumps-style">
    <li class="breadcrumb-item active bradcrumps-style" aria-current="page">
      {{ "Bookings" | translate }}
    </li>
  </ol>
</nav>
<div class="body-background" *ngIf="!isRequesting">

<div class="orders-wrapper">
  <div *ngFor="let order of workplaceOrders" class="order-background">
    {{ order.startTime | date: "M/d/yy" }}
    {{ order.startTime | date: "h:mm:ss" }} -
    {{ order.finishTime | date: "h:mm:ss" }}
    <hr />
    <div class="checque-background">
      {{ order.sumToPay }}
    </div>
  </div>
</div>
  <div class="window-background">
    Information
    <hr />

    <div class="checque-wrapper">
      <div class="left-column-checque">Count:</div>
      <div class="right-column-checque">{{ workplaceOrders.length }}</div>
    </div>
    <div class="checque-wrapper">
      <div class="left-column-checque">Total cost:</div>
      <div class="right-column-checque">{{ totalSum }}</div>
    </div>

    {{ workplaceOrders.length }}
    {{ totalSum }}
  </div>
</div>
