<nav aria-label="breadcrumb" style="margin-top: 10px;">
    <ol class="breadcrumb bradcrumps-style">
      <li class="breadcrumb-item" aria-current="page">{{ 'Workplaces' | translate }}</li>
    </ol>
  </nav>
  <div *ngIf="isRequesting" class="spinner-border"></div>
  <div class="body-background"style="overflow:hidden" *ngIf="!isRequesting">
   <!-- <div *ngIf="isEq">
    <table class="table table-bordered">
        <thead>
           <tr>
              <td>{{ 'Name' | translate }}</td>
              <td>{{ 'Delete' | translate }}</td>
           </tr>

        </thead>
        <tbody>
           <tr *ngFor="let item of apprEqupment">
              <td>{{item.name}}</td>

              <td> <button type="button" (click)="deleteEquipmentFromWorkplace(item.id)" class="btn btn-default">{{ 'Delete' | translate }}</button></td>
           </tr>
        </tbody>
     </table>
     <label>{{ 'Equipment' | translate }}</label>
        <select #langSelect class="form-control"(change)="eqId=langSelect.value">
          <option *ngFor="let land of eqList" [value]="land.id" [selected]="eqId">{{ land.name }}</option>
        </select>
     <button type="button" (click)="createWorkplaceEquipment()" class="btn btn-default">{{ 'Add equipment' | translate }}</button>
</div>-->
<div style="float:right;width:30%; margin-left:10px">
<button type="button" (click)="createWorkplace()" style="margin-bottom:10px" class="btn btn-default form-button">{{ 'Create new workplace' | translate }}</button>

<div *ngIf="isUsed">
  <div class="form-background" style="width:100%; overflow:hidden">

    <div class="form-group">
       <label>{{ 'Cost' | translate }} ({{"grn"|translate}})</label>
       <input oninput="validity.valid||(value='');" class="form-control" type="number" min="0" name="cost" required [(ngModel)]="workplace.cost">
    </div>
        <label>{{ 'Building' | translate }}</label>
        <select required #langSelect class="form-control"(change)="workplace.buildingId=langSelect.value">
          <option *ngFor="let land of buildingsList" [value]="land.id" [selected]="workplace.buildingId">{{ land.country + ' ' + land.city + ' ' + land.street + ' ' + land.house + ' ' + land.flat }}</option>
        </select>




    <div *ngIf="isCreate">

        <button [disabled]="workplace.cost==null" style="background-color: #f3f4f6;margin-top:10px" class="btn btn-default details form-button" (click)="onCreate(workplace)">{{ 'Create' | translate }}</button>
        </div>
        <div *ngIf="isUpdate">
            <button [disabled]="workplace.cost==null" style="background-color: #f3f4f6;margin-top:10px" class="btn btn-default details form-button" (click)="onUpdate(workplace)">{{ 'Update' | translate }}</button>
            </div>
        </div>
        <hr>
        </div>
</div>
<div style="float:left;width:67%">

    <table class="table table-bordered">
        <thead>
           <tr>
            <td>{{ 'Number' | translate }}</td>

              <td>{{ 'Cost' | translate }} ({{ 'grn' | translate }})</td>
              <td>{{ 'Building' | translate }}</td>

              <td></td>
           </tr>

        </thead>
        <tbody>
           <tr *ngFor="let cl of workplacesList">
            <td>{{cl.id}}</td>

              <td>{{cl.cost}}</td>
              <td>{{cl.buildingId}}</td>
              <td>

                <a style="margin-left:70px; float:left; color:rgba(0,0,0,.5)"
                href="javascript:void(0)"
                (click)="updateWorkplace(cl)">{{ 'Update' | translate }}</a>

                <a style="margin-left:70px; float:left; color:rgba(0,0,0,.5)"
                href="javascript:void(0)"
                (click)="deleteWorkplace(cl.id)">{{ 'Delete' | translate }}</a>
           </tr>
        </tbody>
     </table>
    </div>
</div>
