<nav aria-label="breadcrumb" style="margin-top: 10px;">
  <ol class="breadcrumb bradcrumps-style">
    <li class="breadcrumb-item" aria-current="page">
      {{ "Monitoring" | translate }}
    </li>
  </ol>
</nav>

<div class="body-background">
  <div class="window-background">
    <div class="window">
      On/Off Monitoring
      <hr />
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>

    <div class="window-search">
    <div class="form-group">
      <label>Select Date</label>
      <input type="date" name="date" class="form-control" [(ngModel)]="date" />
    </div>

    <button class="btn btn-default send-button" (click)="getStatistics()">
      {{ "Get Statistics" | translate }}
    </button>

    <div *ngIf="hhh" class="window-diagram">
      <div>
        <div class="chart" style="width:100%; margin-bottom:10px">
          <canvas baseChart

            [data]="pieChartData111"
            [labels]="pieChartLabels111"
            [chartType]="pieChartType111"
            [options]="pieChartOptions111"
            [plugins]="pieChartPlugins111"
            [colors]="pieChartColors111"
            [legend]="pieChartLegend111">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div *ngIf="!isRequesting">
    <div style="width: 70%;">
      Statistics
      <div style="display: block;">
        <canvas
          baseChart
          style="position: relative; height: 475px; width: 400px;"
          height="475px"
          width="400px"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>
  </div>

  <div *ngIf="is0 && pieChartData0.length > 0">
    {{ date0 | date: "MM/dd/yyyy" }}
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData0"
        [labels]="pieChartLabels111"
        [chartType]="pieChartType111"
        [options]="pieChartOptions111"
        [plugins]="pieChartPlugins111"
        [colors]="pieChartColors111"
        [legend]="pieChartLegend111"
      >
      </canvas>
    </div>
  </div>

  <div *ngIf="is1 && pieChartData1.length > 0">
    {{ date1 | date: "MM/dd/yyyy" }}
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData1"
        [labels]="pieChartLabels111"
        [chartType]="pieChartType111"
        [options]="pieChartOptions111"
        [plugins]="pieChartPlugins111"
        [colors]="pieChartColors111"
        [legend]="pieChartLegend111"
      >
      </canvas>
    </div>
  </div>

  <div *ngIf="is2 && pieChartData2.length > 0">
    {{ date2 | date: "MM/dd/yyyy" }}
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData2"
        [labels]="pieChartLabels111"
        [chartType]="pieChartType111"
        [options]="pieChartOptions111"
        [plugins]="pieChartPlugins111"
        [colors]="pieChartColors111"
        [legend]="pieChartLegend111"
      >
      </canvas>
    </div>
  </div>

  <div *ngIf="is3 && pieChartData3.length > 0">
    {{ date3 | date: "MM/dd/yyyy" }}
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData3"
        [labels]="pieChartLabels111"
        [chartType]="pieChartType111"
        [options]="pieChartOptions111"
        [plugins]="pieChartPlugins111"
        [colors]="pieChartColors111"
        [legend]="pieChartLegend111"
      >
      </canvas>
    </div>
  </div>

  <div *ngIf="is4 && pieChartData4.length > 0">
    {{ date4 | date: "MM/dd/yyyy" }}
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData4"
        [labels]="pieChartLabels111"
        [chartType]="pieChartType111"
        [options]="pieChartOptions111"
        [plugins]="pieChartPlugins111"
        [colors]="pieChartColors111"
        [legend]="pieChartLegend111"
      >
      </canvas>
    </div>
  </div>
</div>

<div *ngIf="(dist < 30 && dist > 0) || dist > 100">
  <div class="brd">
    {{ dist }}
  </div>
</div>
<div *ngIf="dist >= 30 && dist <= 100">
  <div class="brd1">
    {{ dist }}
  </div>
</div>
<!--<div>
  <div>
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend"
      >
      </canvas>
    </div>
  </div>
</div>

18-05-2019
<div>
  <div>
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData1"
        [labels]="pieChartLabels1"
        [chartType]="pieChartType1"
        [options]="pieChartOptions1"
        [plugins]="pieChartPlugins1"
        [colors]="pieChartColors1"
        [legend]="pieChartLegend1"
      >
      </canvas>
    </div>
  </div>
</div>

21-05-2019
<div>
  <div>
    <div class="chart" style="height: 300px; width: 300px;">
      <canvas
        baseChart
        [data]="pieChartData2"
        [labels]="pieChartLabels2"
        [chartType]="pieChartType2"
        [options]="pieChartOptions2"
        [plugins]="pieChartPlugins2"
        [colors]="pieChartColors2"
        [legend]="pieChartLegend2"
      >
      </canvas>
    </div>
  </div>
</div>-->
