<div *ngIf="dist<30&&dist>0||dist>100">
  <div class="brd">
    {{dist}}
  </div>
</div>
<div *ngIf="dist>=30&&dist<=100">
  <div class="brd1">
    {{dist}}
  </div>
</div>
15-05-2019
<div>
  <div>
    <div class="chart" style="height:300px;width:300px;">
      <canvas baseChart

        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>

18-05-2019
<div>
  <div>
    <div class="chart" style="height:300px;width:300px;">
      <canvas baseChart

        [data]="pieChartData1"
        [labels]="pieChartLabels1"
        [chartType]="pieChartType1"
        [options]="pieChartOptions1"
        [plugins]="pieChartPlugins1"
        [colors]="pieChartColors1"
        [legend]="pieChartLegend1">
      </canvas>
    </div>
  </div>
</div>

21-05-2019
<div>
  <div>
    <div class="chart" style="height:300px;width:300px;">
      <canvas baseChart

        [data]="pieChartData2"
        [labels]="pieChartLabels2"
        [chartType]="pieChartType2"
        [options]="pieChartOptions2"
        [plugins]="pieChartPlugins2"
        [colors]="pieChartColors2"
        [legend]="pieChartLegend2">
      </canvas>
    </div>
  </div>
</div>
