.body-background {
  background-color:#f3f4f6;
  padding:30px;
  border-radius: .25rem;
  margin-bottom: 10%;
  overflow: auto;

}

.order-background {
  width: 100%;
float:left;
  overflow: auto;
  padding: 10px;
  background-color: #cad5df;
  margin-bottom: 20px;
  border-radius: 0.25rem;
  border: 2px solid #cad5df;
}

.orders-wrapper {
  width: 50%;
  float:left;
}

.checque-wrapper {
  margin-bottom: 10px;
  overflow: hidden;
}

.pag-active {
  background-color: #cad5df !important;
}

.left-column-checque {
  float: left;
  overflow: hidden;
  padding-left: 10px;
}


.right-column-checque {
  padding-right: 10px;
  width: 50%;
  float: right;
  overflow: hidden;
}


.window-background {
  width: 47%;
  float: right;
  padding: 10px;
  overflow: hidden;
  background-color: #cad5df;
  border-radius: 0.25rem;
  border: 2px solid #cad5df;
}

.checque-background {
  background-color: #f3f4f6;
  padding: 5px;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

.form-background {
  background-color: #cad5df;
  padding: 30px;
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

.bradcrumps-style {
  background-color: #cad5df !important;
  color: black !important;
}

.form-button {
  float: right;
  background-color:#f3f4f6;
}
