<nav class="navbar navbar-expand-lg navbar-light bg-light header-style">
  <a class="navbar-brand" href="#">JustShare</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul *ngIf="isMember" class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item active">
        <a class="nav-link" href="/home">{{ 'header.Home' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-block jumping" href="/settings">{{ 'Settings' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-block jumping" href="/workplace-parameters">{{ 'Workplace parameters' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-block jumping" href="/map-search">{{ 'Map search' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-block jumping" href="/scheduler">{{ 'Scheduler' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-block jumping" href="/statistics">{{ 'Statistics' | translate }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link d-block jumping" href="/buildings">{{ 'Buildings' | translate }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-block jumping" href="/landlords">{{ 'Landlords' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-block jumping" href="/vision-diagrams">Vision diagrams</a>
          </li>

    </ul>

    <ul *ngIf="isAdmin" class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
          <a class="nav-link  d-block jumping" href="/clients-admin">{{ 'Clients' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-block jumping" href="/equipment-admin">{{ 'Equipment' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-block jumping" href="/buildings-admin">{{ 'Buildings' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-block jumping" href="/workplace-admin">{{ 'Workplaces' | translate }}</a>
        </li>
      </ul>

    <ul class="nav navbar-nav ml-auto">

      <li class="nav-item mr-2">
        <select #langSelect class="form-control"(change)="setLang(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === getlang()">{{ lang }}</option>
        </select>
      </li>
      <li class="nav-item mr-2">
        <button class="btn btn-default d-none details" id="signUp" (click)="signUp()">{{ 'header.SingUp' | translate }}</button>
      </li>
      <li class="nav-item">
          <button class="btn btn-default details" (click)="logOnClickAction()">{{('header.' + LoginString) | translate}}</button>
      </li>

    </ul>
  </div>
</nav>
