<div style="margin-bottom:70px">
<nav  class="navbar navbar-expand-lg navbar-light bg-light fixed-top eader-style" style="padding-top:0;padding-bottom:0; height:50px">
  <a class="navbar-brand" href="#">JustShare</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul *ngIf="isMember" class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link  d-block jumping" routerLink="/home">{{ 'header.Home' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link d-block jumping" routerLink="/settings">{{ 'Settings' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link d-block jumping" routerLink="/workplace-parameters">{{ 'Workplace parameters' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link d-block jumping" routerLink="/map-search">{{ 'Map search' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link d-block jumping" routerLink="/scheduler">{{ 'Scheduler' | translate }}</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link d-block jumping dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/bookings">{{ 'Bookings' | translate }}</a>
        <div class="dropdown-menu" style="background-color:#f3f4f6 !important;padding-top:0;padding-bottom:0">
          <a class="dropdown-item" style="padding-top:0;padding-bottom:0" href="/bookings/future-bookings">Future bookings</a>
          <a class="dropdown-item" style="padding-top:0;padding-bottom:0" href="/bookings/bookings-archive">Archive</a>
          </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link d-block jumping" routerLink="/statistics">{{ 'Statistics' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link d-block jumping" routerLink="/buildings">{{ 'Buildings' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link d-block jumping" routerLink="/landlords">{{ 'Landlords' | translate }}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link d-block jumping" routerLink="/vision-diagrams">Vision diagrams</a>
          </li>

    </ul>

    <ul *ngIf="isAdmin" class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
          <a class="nav-link  d-block jumping" routerLink="/clients-admin">{{ 'Clients' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-block jumping" routerLink="/equipment-admin">{{ 'Equipment' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-block jumping" routerLink="/buildings-admin">{{ 'Buildings' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-block jumping" routerLink="/workplace-admin">{{ 'Workplaces' | translate }}</a>
        </li>
      </ul>

    <ul class="nav navbar-nav ml-auto">

      <li class="nav-item mr-2">
        <select #langSelect class="form-control" style="margin-top:8px" (change)="setLang(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === getlang()">{{ lang }}</option>
        </select>
      </li>
      <li class="nav-item mr-2">
        <button class="btn btn-default d-none details" style="margin-top:8px" id="signUp" (click)="signUp()">{{ 'header.SingUp' | translate }}</button>
      </li>
      <li class="nav-item lll">
          <button class="btn btn-default details" (click)="logOnClickAction()">{{('header.' + LoginString) | translate}}</button>
      </li>

    </ul>
  </div>
</nav>
</div>
