<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">{{ 'Workplace parameters' | translate }}</li>
    </ol>
  </nav>
<div *ngIf="!isRequesting">

    <table class="table table-bordered">
        <colgroup>
          <col width="30%" />
          <col width="60%" />
          <col width="10%" />
        </colgroup>
<tbody>
<tr>
  <td>
      {{ 'Cost' | translate }}
  </td>
  <td>
    <input type="text" class="form-control" [(ngModel)]="searchingViewModel.wantedCost">
  </td>
  <td>
    <button class="btn btn-default details icon" (click)="save()">◰</button>
  </td>
  </tr>
  <tr>
      <td>
          {{ 'Radius' | translate }}
    </td>
    <td>
    <input type="text" class="form-control" [(ngModel)]="searchingViewModel.radius">
  </td>
  <td>
      <button class="btn btn-default details icon" (click)="save()">◰</button>
    </td>
    </tr>
</tbody></table>

    <div class='container'>
      <div class="panel panel-primary">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{{ 'Equipment' | translate }}</th>
                <th>{{ 'Priority' | translate }}</th>
                <th>{{ 'Priopiry No.' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of equipmentList">
                <td>
                  {{item.name}}
                </td>
                <td>
                  <app-rating [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'></app-rating>
                </td>
                <td>
                  {{item.rating}} {{ 'stars' | translate }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p *ngIf='ratingClicked'>The Company {{itemIdRatingClicked}} has been given {{ratingClicked}} stars</p>
    </div>
  </div>
