.icon {
    font-size:120%;
    background-color: rgb(104, 216, 113);
  }

.table-bordered td, .table-bordered th{
  border-color: transparent transparent transparent transparent;
}
.table-bordered {
  padding-bottom:0;
  margin-bottom:0;
}

.body-background {
  background-color:#f3f4f6;
  padding:30px;
  border-radius: .25rem;
  margin-bottom: 10%;
}

.columnls {
  overflow: hidden;
  background-color: #cad5df;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:0;
  overflow: hidden;
  border-radius: .25rem;
  border: 2px solid #cad5df;
  margin-bottom: 10px;
}

.left-column {
  width: 60%;
  float:left;
  overflow: hidden;
}

.right-column {
  width: 35%;
  float:right;
  overflow: hidden;
}

.bradcrumps-style {
  background-color: #cad5df !important;
  color: black !important;
}

.columns-button {
  background-color:#f3f4f6;
}

.greed-button {
  background-color:#cad5df;
}

.form-button {
  margin-top: 3%;
  float: right;
  background-color:#f3f4f6;
}

.form-button1 {
  margin-right: 3%;
  margin-top: 3%;
  float: right;
  background-color:#f3f4f6;
}
