<table class="table table-bordered">
<thead>
  <tr>
    <td>
        Allowed products
        <select [(ngModel)]="selectedAllowed"  class="form-control">
            <option *ngFor="let product of products" [ngValue]="product.id">{{product.productName}}</option>
          </select>
          <button class="btn btn-default" (click)="createAllowed(selectedAllowed)">add</button>
    </td>
  </tr>
</thead>
<tbody>
<div *ngFor="let allowedProduct of allowedProducts">
    <h4 hidden>{{allowedProduct.id}}</h4>
        <tr class="first-allowed">
            <td>
                Name
            </td>
            <td>
            {{allowedProduct.productName}}
            </td>
        </tr>
        <tr class="second-allowed">
            <td>
                Caloric value (in 100 gr)
            </td>
            <td>
            {{allowedProduct.caloricValue}}
            </td>
        </tr>
        <tr class="third-allowed">
            <td>
                <button class="btn btn-default" (click)="setNotAllowed(allowedProduct.id)">Invert</button>
            </td>
            <td>
                <button class="btn btn-default" (click)="delete(allowedProduct.id)">Delete</button>
            </td>
        </tr>

<tbody>
</div>
</table>




<table class="table table-bordered">
<thead>
  <tr>
    <td>
Not allowed products
<select [(ngModel)]="selectedNotAllowed" class="form-control">
    <option *ngFor="let product of products" [ngValue]="product.id">{{product.productName}}</option>
  </select>
  <button class="btn btn-default" (click)="createNotAllowed(selectedNotAllowed)">add</button>
</td>
</tr>
</thead>
<tbody>
  <div *ngFor="let notAllowedProduct of notAllowedProducts">
      <h4 hidden>{{notAllowedProduct.id}}</h4>
     <tr class="first-notallowed">
            <td>
                Name
            </td>
            <td>
            {{notAllowedProduct.productName}}
            </td>
        </tr>
        <tr class="second-notallowed">
            <td>
                Caloric value (in 100 gr)
            </td>
            <td>
            {{notAllowedProduct.caloricValue}}
            </td>
        </tr>
        <tr class="third-notallowed">
            <td>
                <button class="btn btn-default" (click)="setAllowed(notAllowedProduct.id)">Invert</button>
            </td>
            <td>
                <button class="btn btn-default" (click)="delete(notAllowedProduct.id)">Delete</button>
            </td>
        </tr>
</tbody>
</div>
</table>

