
<button type="button" (click)="createDeliveryAddress()" class="btn btn-default">Create new</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Country</td>
        <td>City</td>
        <td>Streete</td>
        <td>House number</td>
        <td>Flat number</td>
        <td>Xcoordinate</td>
        <td>Ycoordinate</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of deliveryAddresses">
        <td>{{address.country}}</td>
        <td>{{address.city}}</td>
        <td>{{address.streete}}</td>
        <td>{{address.houseNamber}}</td>
        <td>{{address.flatNamber}}</td>
        <td>{{address.xcoordinate}}</td>
        <td>{{address.ycoordinate}}</td>
        <td> <button type="button" (click)="updateDeleveryAddress(address)" class="btn btn-default">Update</button></td>
        <td> <button type="button" (click)="deleteDeleveryAddress(address.id)" class="btn btn-default">Delete</button></td>

      </tr>
    </tbody>
  </table>
