<nav aria-label="breadcrumb" style="margin-top: 10px;">
    <ol class="breadcrumb bradcrumps-style">
      <li class="breadcrumb-item" aria-current="page">{{ 'Equipment' | translate }}</li>
    </ol>
  </nav>
  <div *ngIf="isRequesting" class="spinner-border"></div>
<div class="body-background" style="overflow:hidden" *ngIf="!isRequesting">

  <div style="float:right;width:40%; margin-left:10px" >
<button type="button" style="margin-bottom:10px" (click)="createEquipment()" class="btn btn-default form-button">{{ 'Create new equipment' | translate }}</button>
<div *ngIf="isUsed">
  <div class="form-background" style="width:100%;overflow:hidden; margin-top:10px">

    <div class="form-group">
       <label>{{ 'Name' | translate }}</label>
       <input  (keyup)="checkValue()" class="form-control" type="text" name="name" [(ngModel)]="equipment.name">
    </div>

    <div *ngIf="isCreate">
        <button  [disabled]="!isNameValid" class="btn btn-default form-button" style=" background-color: #f3f4f6" (click)="onCreate(equipment)">{{ 'Create' | translate }}</button>
        </div>
        <div *ngIf="isUpdate">
            <button  [disabled]="!isNameValid" class="btn btn-default form-button" style=" background-color: #f3f4f6" (click)="onUpdate(equipment)">{{ 'Update' | translate }}</button>
            </div>
        </div>
      </div>
    </div>
        <div class="orders-wrapper">
    <table class="table table-bordered">
        <thead>
           <tr>
              <td style="width:30%">{{ 'Name' | translate }}</td>
              <td style="width:70%"></td>
           </tr>
        </thead>
        <tbody>
           <tr *ngFor="let cl of equipmentList">
              <td>{{cl.name}}</td>

                  <td>
                    <a
                    style="margin-left:85px; float:left; color:rgba(0,0,0,.5)"
                    href="javascript:void(0)"
                    (click)="updateEquipment(cl)"
                    >{{ "Update" | translate }}</a>
                    <a
                    style="margin-left:85px; float:left; color:rgba(0,0,0,.5)"
                    href="javascript:void(0)"
                    (click)="deleteEquipment(cl.id)"
                    >{{ "Delete" | translate }}</a>
           </tr>
        </tbody>
     </table>
    </div>
</div>
