<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{ 'CART.CART' | translate }}</li>
  </ol>
</nav>

<h4>{{ 'CART.CART' | translate }}</h4>
<div *ngIf="!isRequesting">
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>{{ 'CART.TOTALCALORICVALUE' | translate }}</td>
      <td>{{cart.totalCaloricValue}}</td>
      <td></td>
    </tr>
    <tr>
      <td>{{ 'CART.ADDRESS' | translate }}</td>
      <td>{{ ('deliveryAddress.' + currentAddress.country) | translate }},
          {{ ('deliveryAddress.' +currentAddress.city) | translate }},
          {{ ('deliveryAddress.' +currentAddress.streete) | translate }},
          {{currentAddress.houseNamber}}, {{currentAddress.flatNamber}}
      </td>
      <td>
        <select [(ngModel)]="cart.addressId" name="category">
          <option *ngFor="let deliveryAddress of deliveryAddresses" [value]="deliveryAddress.id">
              {{ ('deliveryAddress.' + deliveryAddress.country) | translate }},
              {{ ('deliveryAddress.' + deliveryAddress.city) | translate }},
              {{ ('deliveryAddress.' + deliveryAddress.streete) | translate }},
              {{deliveryAddress.houseNamber}}, {{deliveryAddress.flatNamber}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{{ 'CART.MEALTIME' | translate }}</td>
      <td>{{ ('CART.' + currentMealTime) | translate }}</td>
      <td>
          <select [(ngModel)]="cart.mealTimeId" name="mealTimeId">
              <option value=0>{{ 'CART.BREAKFAST' | translate }}</option>
              <option value=1>{{ 'CART.DINNER' | translate }}</option>
              <option value=2>{{ 'CART.SUPPER' | translate }}</option>
          </select>
      </td>
    </tr>
    <tr>
      <td>{{ 'CART.DELIVERYDATE' | translate }}</td>
      <td>
          {{cart.deliveryDate}}
      </td>
      <td>
        <dl-date-time-picker
          minDate="minDate"
          startView="day"
          maxView="year"
          minView="minute"
          minuteStep="5"
          [(ngModel)]="cart.deliveryDate"
          #cart.deliveryDate
      >
      </dl-date-time-picker>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <button type="button" class="btn btn-default" (click)="changeCart()">{{ 'CART.UPDATE' | translate }}</button>
</div>


<h4>{{ 'CART.DISHES' | translate }}</h4>
<div id="parent">
    <table id="first" class="table table-bordered">
      <thead><tr><td>{{ 'CART.DISHE' | translate }}</td></tr></thead>
      <tbody>
        <div *ngFor="let dish of dishes">
          <tr><td><h4>{{dish.dishName}}</h4></td></tr>
        </div>
      </tbody>
    </table>
    <table id="second" class="table table-bordered">
        <thead><tr><td>{{ 'CART.RESTAURANT' | translate }}</td></tr></thead>
        <tbody>
        <div *ngFor="let restaurant of restaurants">
          <tr><td><h4>{{restaurant.restaurantName}}</h4></td></tr>
        </div>
      </tbody>
      </table>
    <table id="third" class="table table-bordered">
      <thead>
          <tr>
          <td>{{ 'CART.COUNT' | translate }}</td>
          <td>{{ 'CART.TEMPERATURE' | translate }}</td>
          <td></td>
          <td></td>
          </tr>
        </thead>
        <tr *ngFor="let cartPart of cartParts">
              <td><input type="number" min="1" step="1" oninput="validity.valid||(value='');" [(ngModel)]="cartPart.dishCount"></td>
              <td><input type="number" [(ngModel)]="cartPart.dishTemperature"></td>
              <td>
                <button class="btn btn-default" (click)="updateCartPart(cartPart)">{{ 'CART.CHANGE' | translate }}</button></td>
              <td><button class="btn btn-default" (click)="deleteCartPart(cartPart.menuId, cartPart.cartId)">{{ 'CART.DELETE' | translate }}</button>
              </td>
          </tr>
    </table>

  </div>
</div>
<div class="text-right">
<button class="btn btn-default" (click)="foodOrder()">{{ 'CART.CREATEORDER' | translate }}</button>
</div>
