<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Food style</li>
  </ol>
</nav>

<div *ngIf="!isRequesting">
    <div *ngIf="!isCustomerRequesting">
       <div *ngIf="foodStyle!=undefined">
          <h4>My food style</h4>
          <table class="table table-bordered">
             <tbody>
                <tr class="first-allowed">
                   <td>Name</td>
                   <td>{{foodStyle.foodStyleName}}</td>
                </tr>
                <tr class="second-allowed">
                   <td>Caloric value</td>
                   <td>{{foodStyle.caloricValue}}</td>
                </tr>
                <tr class="third-allowed">
                   <td>
                      <button class="btn btn-default" (click)="productByFoodStyle(foodStyle.id, foodStyle.foodStyleName)">Details</button>
                   </td>
                   <td>
                      <button class="btn btn-default" (click)="deleteCustomersFoodStyle(customer.id)">Delete</button>
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
       <h4>Products in {{foodStyleName}} food style</h4>
       <div *ngFor="let prod of products">
          <table class="table table-bordered">
             <tbody>
                <tr>
                   <td>Product name</td>
                   <td>{{prod.productName}}</td>
                </tr>
                <tr>
                   <td>Caloric value</td>
                   <td>{{prod.caloricValue}}</td>
                </tr>
             </tbody>
          </table>
       </div>
       <h4>  Food styles</h4>
       <div *ngFor="let fStyle of foodStyles">
          <table class="table table-bordered">
             <tbody>
                <tr class="first-notallowed">
                   <td>Name</td>
                   <td>{{fStyle.foodStyleName}}</td>
                </tr>
                <tr class="second-notallowed">
                   <td>Caloric value</td>
                   <td>{{fStyle.caloricValue}}</td>
                </tr>
                <tr class="third-notallowed">
                   <td>
                      <button class="btn btn-default" (click)="productByFoodStyle(fStyle.id, fStyle.foodStyleName)">Details</button>
                   </td>
                   <td>
                      <button class="btn btn-default" (click)="changeFoodStyle(customer.id, fStyle.id)">Try it</button>
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
 </div>
