.first-allowed {
  background-color: powderblue;
}
.second-allowed {
  background-color: lightcyan;
}
.third-allowed {
  background-color: aliceblue;
}
.first-notallowed {
  background-color: salmon;
}
.second-notallowed {
  background-color: lightsalmon;
}
.third-notallowed {
  background-color: peachpuff;
}
.inlineTable {
  display: inline-block;
}
