
<div class="container">
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <form class="form-inline" #form="ngForm">
          <div class="form-group">
            <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
          </div>
          <button type="button" (click)="setCurrentPosition()" class="btn btn-primary" [disabled]="form.invalid">{{ 'Map.Go' | translate }}</button>
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <button (click)="showAppropriate()" class="btn btn-default">Search</button>
      <button (click)="setMapType('terrain')" class="btn btn-primary">{{ 'Map.Terrain' | translate }}</button>
      <button (click)="setMapType('satellite')" class="btn btn-danger">{{ 'Map.Satellite' | translate }}</button>
      <button (click)="setMapType('roadmap')" class="btn btn-warning">{{ 'Map.RoadMap' | translate }}</button>
      <button type="button" (click)="toggleMap()" class="btn btn-primary">{{ 'Map.ToggleMap' | translate }}</button>
    </div>
    <br>
    <div class="row" >
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <div #gmap style="width:100%;height:400px" ></div>
          </h3>
        </div>
      </div>
    </div>
  </div>
  Address:
  {{selectedBuilding.country}},
  {{selectedBuilding.city}},
  {{selectedBuilding.street}},
  {{selectedBuilding.house}},
  {{selectedBuilding.flat}}
  <table class="table table-bordered">
    <colgroup>
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
    </colgroup>
    <thead>
      <tr>
        <td>Cost</td>
        <td>Mark</td>
        <td>Approptiation</td>
        <td>Go</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workpl of workplacesByBuilding">
        <td>
          <div class="brd" [ngStyle]="{'background-color': getFindedWorkplaceById(workpl.id).costColor}">
            {{workpl.cost}}
          </div>
        </td>
        <td>{{workpl.mark}}</td>
        <td>
          <div class="brd" [ngStyle]="{'background-color': getFindedWorkplaceById(workpl.id).appropriationColor}">
            {{getFindedWorkplaceById(workpl.id).appropriationPercentage}}
          </div>
        </td>
        <td><button class="btn btn-default custom icon" (click)="navigateToWorkplace(workpl)">Go</button> </td>
      </tr>
    </tbody>
  </table>
