<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">{{ 'Workplace' | translate }}</li>
    </ol>
  </nav>
<div class="brd1 right-floating" *ngIf="!isRequesting">
    <p style="font-weight:bold">{{ 'Landlord' | translate }}</p>
    {{ 'First name' | translate }}: {{landlord.firstName}}<br>
    {{ 'Last name' | translate }}: {{landlord.lastName}}<br>
    {{ 'Email' | translate }}: {{landlord.email}}<br>
    {{ 'Phone' | translate }} : {{landlord.phone}}<br>
  </div>
<button type="button" (click)="showEquipment()" class="btn btn-primary">{{ 'Show equipment' | translate }}</button>

<div *ngIf="isEqShow">
<div class="brd1 left-floating">
{{showObject()}}</div>
</div>
<table class="table table-bordered">
    <colgroup>
      <col width="5%" />
      <col width="26%" />
      <col width="5%" />
      <col width="26%" />
      <col width="5%" />
      <col width="26%" />
    </colgroup>
    <tr>
      <td>{{ 'Year' | translate }}</td>
      <td><input type="number" class="form-control" min="2019" max="2025" [(ngModel)]="selectedYear" (change)="minMontChanged()"></td>
      <td>{{ 'Month' | translate }}</td>
      <td><input type="number" class="form-control" min={{minMonth}} max="12" [(ngModel)]="selectedMonth" (change)="minDayChanged()"></td>
      <td>{{ 'Day' | translate }}</td>
      <td><input type="number" class="form-control" min={{minDay}} max={{dateItems[selectedMonth-1]}} [(ngModel)]="selectedDay" (change)="minHoursChanged()"></td>
    </tr>
    </table>

    <button type="button" (click)="getDayOrders()" class="btn btn-primary">{{ 'Get list of busy times' | translate }}</button>
    <br>
    <br>
    <div *ngIf="isOrdersVisible" >
<div *ngFor="let item of selectedWorkplaceOrdersByDay" class="brd">
    {{item.startTime | date:  ('HOME.timeformat' | translate)}} -
    {{item.finishTime | date:  ('HOME.timeformat' | translate)}}
</div>
</div>
{{ 'Start time' | translate }}
<table class="table table-bordered">
    <colgroup>
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
    </colgroup>
    <tr>
        <td>{{ 'Hours' | translate }}</td>
        <td><input type="number" class="form-control" min={{minHours}} max="20" [(ngModel)]="selectedHours" (change)="minMinutesChanged()"></td>
        <td>{{ 'Minutes' | translate }}</td>
        <td><input type="number" class="form-control" min={{minMinutes}} max="59" [(ngModel)]="selectedMinutes" (change)="minFinishMinutesChanged()"></td>
</tr>
</table>
{{ 'Finish time' | translate }}
<table class="table table-bordered">
    <colgroup>
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
    </colgroup>
    <tr>
        <td>{{ 'Hours' | translate }}</td>
        <td><input type="number" class="form-control" min={{selectedHours}} max="21" [(ngModel)]="selectedFinishHours" (change)="minFinishChanged()"></td>
        <td>{{ 'Minutes' | translate }}</td>
        <td><input type="number" class="form-control" min={{minFinishMinutes}} max="59" [(ngModel)]="selectedFinishMinutes" (change)="minMinFinishChanged()"></td>
</tr>
</table>
<button type="button" (click)="createWorkplaceOrder()" class="btn btn-primary">{{ 'Create order' | translate }}</button>
<br><br> <h5>{{creatingResult}}</h5>



