<nav aria-label="breadcrumb" style="margin-top: 10px;">
  <ol class="breadcrumb bradcrumps-style">
    <li class="breadcrumb-item bradcrumps-style" aria-current="page">
      {{ "Workplace" | translate }}
    </li>
  </ol>
</nav>
<div *ngIf="isRequesting" class="spinner-border"></div>
<div class="body-background" *ngIf="!isRequesting">
  <div class="left-background">
    <div class="info-background">
      Infomation
      <hr />
      <div class="left-column"><p>Address</p></div>
      <div class="right-column">
        <p>
          {{ workplace.building.country }}, {{ workplace.building.city }},
          {{ workplace.building.street }}, {{ workplace.building.flat }}
        </p>
      </div>
      <div class="left-column"><p>Cost</p></div>
      <div class="right-column">
        <p>{{ workplace.cost }}</p>
      </div>
      <div class="left-column"><p>Landlord</p></div>
      <div class="right-column">
        <p>
          {{ workplace.building.landlord.firstName }}
          {{ workplace.building.landlord.lastName }}
        </p>
      </div>
      <div class="left-column"><p>Phone</p></div>
      <div class="right-column">
        <p>{{ workplace.building.landlord.phone }}</p>
      </div>

      <div class="left-column"><p>Working hours</p></div>

      <div class="right-column">
        <p>{{ this.startWorkingTime }} - {{ this.finishWorkingTime }}</p>
      </div>
    </div>
    <div class="order-background">
      <div class="form-group">
        <div class="left-column">
          <label>Select date</label>
        </div>
        <div class="right-column" style="padding-right: 0;">
          <input
            type="date"
            name="workplaceDate"
            class="form-control"
            [(ngModel)]="workplaceDate"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="window-background">
    Equipment
    <hr />
    <div
      *ngFor="let equipment of workplaceEquipmentList"
      class="workplace-background"
    >
      <div class="left-column1">{{ equipment.equipment.name }}</div>
      <div class="right-column1">{{ equipment.count }}</div>
    </div>
  </div>
</div>

<!--<div class="brd1 right-floating" *ngIf="!isRequesting">
    <p style="font-weight:bold">{{ 'Landlord' | translate }}</p>
    {{ 'First name' | translate }}: {{landlord.firstName}}<br>
    {{ 'Last name' | translate }}: {{landlord.lastName}}<br>
    {{ 'Email' | translate }}: {{landlord.email}}<br>
    {{ 'Phone' | translate }} : {{landlord.phone}}<br>
  </div>
<button type="button" (click)="showEquipment()" class="btn btn-primary">{{ 'Show equipment' | translate }}</button>

<div *ngIf="isEqShow">
<div class="brd1 left-floating">
{{showObject()}}</div>
</div>
<table class="table table-bordered">
    <colgroup>
      <col width="5%" />
      <col width="26%" />
      <col width="5%" />
      <col width="26%" />
      <col width="5%" />
      <col width="26%" />
    </colgroup>
    <tr>
      <td>{{ 'Year' | translate }}</td>
      <td><input type="number" class="form-control" min="2019" max="2025" [(ngModel)]="selectedYear" (change)="minMontChanged()"></td>
      <td>{{ 'Month' | translate }}</td>
      <td><input type="number" class="form-control" min={{minMonth}} max="12" [(ngModel)]="selectedMonth" (change)="minDayChanged()"></td>
      <td>{{ 'Day' | translate }}</td>
      <td><input type="number" class="form-control" min={{minDay}} max={{dateItems[selectedMonth-1]}} [(ngModel)]="selectedDay" (change)="minHoursChanged()"></td>
    </tr>
    </table>

    <button type="button" (click)="getDayOrders()" class="btn btn-primary">{{ 'Get list of busy times' | translate }}</button>
    <br>
    <br>
    <div *ngIf="isOrdersVisible" >
<div *ngFor="let item of selectedWorkplaceOrdersByDay" class="brd">
    {{item.startTime | date:  ('HOME.timeformat' | translate)}} -
    {{item.finishTime | date:  ('HOME.timeformat' | translate)}}
</div>
</div>
{{ 'Start time' | translate }}
<table class="table table-bordered">
    <colgroup>
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
    </colgroup>
    <tr>
        <td>{{ 'Hours' | translate }}</td>
        <td><input type="number" class="form-control" min={{minHours}} max="20" [(ngModel)]="selectedHours" (change)="minMinutesChanged()"></td>
        <td>{{ 'Minutes' | translate }}</td>
        <td><input type="number" class="form-control" min={{minMinutes}} max="59" [(ngModel)]="selectedMinutes" (change)="minFinishMinutesChanged()"></td>
</tr>
</table>
{{ 'Finish time' | translate }}
<table class="table table-bordered">
    <colgroup>
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
      <col width="25%" />
    </colgroup>
    <tr>
        <td>{{ 'Hours' | translate }}</td>
        <td><input type="number" class="form-control" min={{selectedHours}} max="21" [(ngModel)]="selectedFinishHours" (change)="minFinishChanged()"></td>
        <td>{{ 'Minutes' | translate }}</td>
        <td><input type="number" class="form-control" min={{minFinishMinutes}} max="59" [(ngModel)]="selectedFinishMinutes" (change)="minMinFinishChanged()"></td>
</tr>
</table>
<button type="button" (click)="createWorkplaceOrder()" class="btn btn-primary">{{ 'Create order' | translate }}</button>
<br><br> <h5>{{creatingResult}}</h5>



-->
