<nav aria-label="breadcrumb" style="margin-top: 10px;">
  <ol class="breadcrumb bradcrumps-style">
    <li class="breadcrumb-item" aria-current="page">
      {{ "Buildings" | translate }}
    </li>
  </ol>
</nav>

<div *ngIf="isRequesting" class="spinner-border"></div>
<div class="body-background" *ngIf="!isRequesting">
  <div style="overflow:hidden">
  <div class="orders-wrapper">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" width="20%">{{ "Name" | translate }}</th>
          <th scope="col" width="40%">{{ "Address" | translate }}</th>
          <th scope="col" width="20%">{{ "Landlord" | translate }}</th>
          <th scope="col" width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filteredBuildingList; let i = index">
          <td>
            {{ data.name }}
          </td>
          <td>
            {{ data.country }}, {{ data.city }}, {{ data.street }},
            {{ data.house }}, {{ data.flat }}
          </td>
          <td>
            {{ showLandlordByBuilding(data) }}
          </td>
          <td>
            <a
            style="margin-left:5px; float:left; color:rgba(0,0,0,.5)"
            href="javascript:void(0)"
            (click)="getAppropriationByBuildingResults(data.id)"
            >{{ "Workplaces" | translate }}</a>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="window-background">
    <div class="left-floating">
      {{ "Country" | translate }}
      <select
        #countrySelect
        class="form-control"
        (change)="
          citySelect.value = '';
          streetSelect.value = '';
          filter(countrySelect.value, citySelect.value, streetSelect.value)
        "
      >
        <option></option>
        <option *ngFor="let item of countries" [value]="item">{{
          item
        }}</option>
      </select>
    </div>
    <div class="center-floating">
      {{ "City" | translate }}
      <select
        #citySelect
        class="form-control"
        (change)="
          streetSelect.value = '';
          filter(countrySelect.value, citySelect.value, streetSelect.value)
        "
      >
        <option></option>
        <option *ngFor="let item of cities" [value]="item">{{ item }}</option>
      </select>
    </div>
    <div class="right-floating">
      {{ "Street" | translate }}
      <select
        #streetSelect
        class="form-control"
        (change)="
          filter(countrySelect.value, citySelect.value, streetSelect.value)
        "
      >
        <option></option>
        <option *ngFor="let item of streets" [value]="item">{{ item }}</option>
      </select>
    </div>
  </div>
</div>
  <div *ngIf="appropriatationList">
    <hr>
    {{ "Workplaces in" | translate }} {{appropriatationList.building.name}}
    <hr>
  <div
    *ngFor="let workplaceResult of appropriatationList.workplaceSearchingResults"
    (click)="visitWorkplace(workplaceResult.workplaceId)"
    class="building-background"
  >
    <div class="workplace-background-column-left">
      <p>{{ "Workplace Number" | translate }}</p>
      <p>{{ "Equipment Appropriation" | translate }}</p>
      <p>{{ "Cost Appropriation" | translate }}</p>
    </div>
    <div class="workplace-background-column-right">
      <p>{{ workplaceResult.workplaceId }}</p>
      <p>{{ workplaceResult.equipmentAppropriation | number: "1.0-0" }} %</p>
      <p>{{ workplaceResult.costAppropriation | number: "1.0-0" }} %</p>
    </div>
  </div>
</div>

</div>
