<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">{{ 'Buildings' | translate }}</li>
    </ol>
  </nav>
<div class="left-floating">
{{ 'Country' | translate }}
<select #countrySelect class="form-control" (change)="filter(countrySelect.value, citySelect.value, streetSelect.value)">
  <option></option>
    <option *ngFor="let item of countries" [value]="item">{{ item }}</option>
  </select>
  </div>
  <div class="center-floating">
{{ 'City' | translate }}
  <select #citySelect class="form-control" (change)="filter(countrySelect.value, citySelect.value, streetSelect.value)">
      <option></option>
      <option *ngFor="let item of cities" [value]="item">{{ item }}</option>
    </select>
</div>
<div class="right-floating">
{{ 'Street' | translate }}
    <select #streetSelect class="form-control" (change)="filter(countrySelect.value, citySelect.value, streetSelect.value)">
        <option></option>
        <option *ngFor="let item of streets" [value]="item">{{ item }}</option>
      </select>

</div>
<br>
<br>
<br>
<br>

<div *ngFor="let data of filteredBuildingList; let i = index">
    <table class="table table-bordered">
        <colgroup>
          <col width="25%" />
          <col width="25%" />
          <col width="25%" />
          <col width="25%" />
        </colgroup>
<tbody>
<tr style="border: 2px solid lightgreen">
  <td>{{ 'House number' | translate }}: {{data.house}}</td>
  <td>{{ 'Flat number' | translate }}: {{data.flat}}</td>
  <td>{{showLandlordByBuilding(data)}}</td>
  <td><button class="btn btn-default details" (click)="showWorkplaceBuilding(i)">{{ 'Workplaces' | translate }}</button></td>
</tr>
</tbody>
</table>
<div *ngIf="isWorkplaceVisibleArray[i]">
    <table class="table table-bordered">
        <colgroup>
          <col width="30%" />
          <col width="25%" />
          <col width="35%" />
          <col width="10%" />
        </colgroup>
        <tbody>
            <tr *ngFor="let item of getWorkplacesInBuilding(data.id)">
               <td>{{ 'Workplace number' | translate }}: {{item.id}}</td>
               <td>{{ 'Workplace mark' | translate }}: {{item.mark}}</td>
               <td>{{ 'Mark' | translate }}</td>
               <td><button class="btn btn-default details" (click)="navigateToWorkplace(item)">{{ 'Go' | translate }}</button></td>
              </tr>
             </tbody>
             </table>

</div>

</div>
