<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">{{ 'Clients' | translate }}</li>
    </ol>
  </nav><div *ngIf="isOrders">
      {{ 'Orders' | translate }}
    <table class="table table-bordered">
        <thead>
           <tr>
              <td>{{ 'Start time' | translate }}</td>
              <td>{{ 'Finish time' | translate }}</td>
              <td>{{ 'Workplace number' | translate }}</td>
              <td>{{ 'Sum to pay' | translate }}</td>
              <td>{{ 'Delete' | translate }}</td>
           </tr>
        </thead>
        <tbody>
           <tr *ngFor="let order of workplaceOrdersList">
              <td> {{order.startTime | date:  ('HOME.wholeDate' | translate)}}</td>
              <td>{{order.finishTime | date:  ('HOME.wholeDate' | translate)}}</td>
              <td>{{order.sumToPay}}</td>
              <td>{{order.workplaceId}}</td>
              <td> <button type="button" (click)="delepeWorkplaceOrder(order)" class="btn btn-default">{{ 'Delete' | translate }}</button></td>
           </tr>
        </tbody>
     </table>
<button class="btn btn-default details" (click)="hide()">{{ 'Hide' | translate }}</button>
</div>
<div *ngIf="isUsed">
    <div class="form-group">
       <label>{{ 'Client first name' | translate }}</label>
       <input class="form-control" type="text" name="firstName" [(ngModel)]="client.firstName">
    </div>
    <div class="form-group">
       <label>{{ 'Client last name' | translate }}</label>
       <input class="form-control" type="text" name="lastName" [(ngModel)]="client.lastName">
    </div>
    <div class="form-group">
        <label>{{ 'Birthday' | translate }}</label>
        <input type="text" class="form-control" [(ngModel)]="client.birthday">
      </div>
      <div class="form-group">
      <label>{{ 'Passport number' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="client.passportNumber">
      </div>
      <div class="form-group">
          <label>{{ 'Phone' | translate }}</label>
            <input type="text" class="form-control" [(ngModel)]="client.phone">
      </div>
      <div class="form-group">
          <label>{{ 'Email' | translate }}</label>
              <input type="text" class="form-control" [(ngModel)]="client.email">
      </div>
      <div class="form-group">
          <label>{{ 'Height' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="client.hight">
        </div>
        <div class="form-group">
            <label>{{ 'Vision' | translate }}</label>

          <input type="text" class="form-control" [(ngModel)]="client.vision">
        </div>
        <div class="form-group">
            <label>{{ 'Table height' | translate }}</label>

          <input type="text" class="form-control" [(ngModel)]="client.tableHight">
        </div>
        <div class="form-group">
            <label>{{ 'Chair height' | translate }}</label>

          <input type="text" class="form-control" [(ngModel)]="client.chairHight">
        </div>
        <div class="form-group">
            <label>{{ 'Light' | translate }}</label>

          <input type="text" class="form-control" [(ngModel)]="client.light">
        </div>
        <div class="form-group">
            <label>{{ 'Temperature' | translate }}</label>

          <input type="text" class="form-control" [(ngModel)]="client.temperature">
        </div>
        <div class="form-group">
            <label>{{ 'Music' | translate }}</label>

          <input type="text" class="form-control" [(ngModel)]="client.music">
        </div>
        <div class="form-group">
            <label>{{ 'Drink' | translate }}</label>

          <input type="text" class="form-control" [(ngModel)]="client.drink">
        </div>
<div *ngIf="isCreate">
<button class="btn btn-default details" (click)="onCreate(client)">{{ 'Create' | translate }}</button>
</div>
<div *ngIf="isUpdate">
    <button class="btn btn-default details" (click)="onUpdate(client)">{{ 'Update' | translate }}</button>
    </div>
</div>

<table class="table table-bordered">
    <thead>
       <tr>
          <td>{{ 'Client first name' | translate }}</td>
          <td>{{ 'Client last name' | translate }}</td>
          <td>{{ 'Passport' | translate }}</td>
          <td>{{ 'Phone' | translate }}</td>
          <td>{{ 'Email' | translate }}</td>
          <td>{{ 'Height' | translate }}</td>
          <td>{{ 'Vision' | translate }}</td>
          <td>{{ 'Table' | translate }}</td>
          <td>{{ 'Chair' | translate }}</td>
          <td>{{ 'Light' | translate }}</td>
          <td>{{ 'Temp' | translate }}</td>
          <td>{{ 'Orders' | translate }}</td>

          <td>{{ 'Update' | translate }}</td>
          <td>{{ 'Delete' | translate }}</td>
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let cl of clientsList">
          <td>{{cl.firstName}}</td>
          <td>{{cl.lastName}}</td>
          <td>{{cl.passportNumber}}</td>
          <td>{{cl.phone}}</td>
          <td>{{cl.email}}</td>
          <td>{{cl.hight}}</td>
          <td>{{cl.vision}}</td>

          <td>{{cl.tableHight}}</td>
          <td>{{cl.chairHight}}</td>
          <td>{{cl.light}}</td>
          <td>{{cl.temperature}}</td>


          <td> <button type="button" (click)="getWorkplaceOrders(cl.id)" class="btn btn-default">{{ 'Orders' | translate }}</button></td>
          <td> <button type="button" (click)="updateClient(cl)" class="btn btn-default">{{ 'Update' | translate }}</button></td>
          <td> <button type="button" (click)="deleteClient(cl.id)" class="btn btn-default">{{ 'Delete' | translate }}</button></td>
       </tr>
    </tbody>
 </table>

