<div class="left-floating">
<div class="green">
<div *ngFor="let landlord of landlordsGreenList">
  First name: {{landlord.firstName}}<br>
  Last name: {{landlord.lastName}}<br>
  Passport number: {{landlord.passportNumber}}<br>
  Email: {{landlord.email}}<br>
  Phone: {{landlord.phone}}
  <hr>
</div>
</div>
<br>
<br>
<br>
<br>
</div>
<div class="right-floating" >
  <div class="grey">
<div *ngFor="let landlord of landlordsBlackList">
    First name: {{landlord.firstName}}<br>
    Last name: {{landlord.lastName}}<br>
    Passport number: {{landlord.passportNumber}}<br>
    Email: {{landlord.email}}<br>
    Phone: {{landlord.phone}}
    <hr>
  </div>

  </div>
  <br>
<br>
<br>
<br>
</div>
