<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">{{ 'Landlords' | translate }}</li>
    </ol>
  </nav>
<div class="left-floating">
<div class="green">
<div *ngFor="let landlord of landlordsGreenList">
    {{ 'First name' | translate }}: {{landlord.firstName}}<br>
    {{ 'Last name' | translate }}: {{landlord.lastName}}<br>
    {{ 'Passport number' | translate }}: {{landlord.passportNumber}}<br>
    {{ 'Email' | translate }}: {{landlord.email}}<br>
    {{ 'Phone' | translate }}: {{landlord.phone}}
  <hr>
</div>
</div>
<br>
<br>
<br>
<br>
</div>
<div class="right-floating" >
  <div class="grey">
<div *ngFor="let landlord of landlordsBlackList">
    {{ 'First name' | translate }}: {{landlord.firstName}}<br>
    {{ 'Last name' | translate }}: {{landlord.lastName}}<br>
    {{ 'Passport number' | translate }}: {{landlord.passportNumber}}<br>
    {{ 'Email' | translate }}: {{landlord.email}}<br>
    {{ 'Phone' | translate }}: {{landlord.phone}}
    <hr>
  </div>

  </div>
  <br>
<br>
<br>
<br>
</div>
