@import '~dhtmlx-scheduler/codebase/dhtmlxscheduler.css';
:host{
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.bradcrumps-style {
  background-color: #cad5df !important;
  color: black !important;
}
