/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

body {
  background-image: url(/assets/back5.jpg); /* Путь к фоновому изображению */
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

 .nav-item:hover{
  background-color: #cad5df;

  margin-top:0;
 }
 .nav-item.mr-2:hover {
  margin-top:0;
  background-color: transparent;

 }

 .nav-item.lll:hover {
  margin-top:0;
  background-color: transparent;

 }

 .nav-item.mr-2 {
  margin-top:0;
  line-height: 55px;
  height:55px !important;
 }

 a.nav-link.d-block.jumping {
  padding-top:0;
  padding-bottom:0;
 }
 .nav-item {
  margin-top:0;
  line-height: 55px;
  height:55px !important;
 }

 .spinner-border {
  margin: auto;
  margin-top: 25%;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
 }

 .block-spinner-border {
  margin: auto;
  margin-top: 25%;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
 }

 @keyframes spinner-border {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
 }
