<!--
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">{{ 'Statistics' | translate }}</li>
    </ol>
  </nav>
<button mat-button mat-raised-button color="primary" (click)="showStatByYear()">{{ 'Year' | translate }}</button>
<button mat-button mat-raised-button color="primary" (click)="showStatByMonth()">{{ 'Month' | translate }}</button>
<button mat-button mat-raised-button color="primary" (click)="showStatByWeek()">{{ 'Week' | translate }}</button>
<div *ngIf="isYearVisible">
    {{ 'Year' | translate }}
<input type="number" class="form-control" [(ngModel)]="yearForYear">
{{ 'Building' | translate }}
<select #buildYear class="form-control"(change)="changeYearBuilding(buildYear.value)">
    <option *ngFor="let land of buildings" [value]="land.id" [selected]="land.id===buildingIdForYear">{{ land.country + ' ' + land.city + ' ' + land.street + ' ' + land.house + ' ' + land.flat }}</option>
</select>
<div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartDataForYear"
          [labels]="barChartLabelsForYear"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>

    </div>
  </div>

</div>

<div *ngIf="isMonthVisible">
    {{ 'Year' | translate }}
<input type="number" class="form-control" [(ngModel)]="yearForMonth">
{{ 'Month' | translate }}
<input type="number" class="form-control" [(ngModel)]="monthForMonth">
Building
<select #buildMonth class="form-control"(change)="changeMonthBuilding(buildMonth.value)">
    <option *ngFor="let land of buildings" [value]="land.id" [selected]="land.id===buildingIdForMonth">{{ land.country + ' ' + land.city + ' ' + land.street + ' ' + land.house + ' ' + land.flat }}</option>
</select>
  <div>
      <div>
        <div style="display: block">
          <canvas baseChart
            [datasets]="barChartDataForMonth"
            [labels]="barChartLabelsForMonth"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="isWeekVisible">

    Building
    <select #buildWeek class="form-control"(change)="changeWeekBuilding(buildWeek.value)">
        <option *ngFor="let land of buildings" [value]="land.id" [selected]="land.id===buildingIdForWeek">{{ land.country + ' ' + land.city + ' ' + land.street + ' ' + land.house + ' ' + land.flat }}</option>
    </select>
      <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="barChartDataForWeek"
                [labels]="barChartLabelsForWeek"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>

          </div>
        </div>
</div>
-->


<nav aria-label="breadcrumb" style="margin-top: 10px;">
  <ol class="breadcrumb  bradcrumps-style">
    <li class="breadcrumb-item" aria-current="page">{{ 'Statistics' | translate }}</li>
  </ol>
</nav>

<div *ngIf="isRequesting" class="spinner-border"></div>

<div class="body-background" *ngIf="!isRequesting">

<button class="btn form-button" (click)="showStatByYear()">{{ 'Year' | translate }}</button>
<button class="btn form-button" (click)="showStatByMonth()">{{ 'Month' | translate }}</button>
<button class="btn form-button" (click)="showStatByWeek()">{{ 'Week' | translate }}</button>
<div *ngIf="isYearVisible">
{{ "Year statistics" | translate }}
<div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartDataForYear"
        [labels]="barChartLabelsForYear"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>

  </div>
</div>

</div>

<div *ngIf="isMonthVisible">
{{ 'Month statistics' | translate }}
<div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartDataForMonth"
          [labels]="barChartLabelsForMonth"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>

    </div>
  </div>
</div>
<div *ngIf="isWeekVisible">
{{ 'Week statistics' | translate }}
    <div>
        <div>
          <div style="display: block">
            <canvas baseChart
              [datasets]="barChartDataForWeek"
              [labels]="barChartLabelsForWeek"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>

        </div>
      </div>
</div>
</div>
